[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-ollama = "*"
ollama = "*"
scapy = "*"
scrapy = "*"
scrapy-selenium = "*"
flask = "*"
flask-pymongo = "*"
apscheduler = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.12"
