[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scapy = "2.5.0"
scrapy = "2.11.2"
scrapy-selenium = "0.0.7"
flask = "3.0.3"
flask-pymongo = "2.3.0"
streamlit = "1.37.1"

[dev-packages]

[requires]
python_version = "3.12"
